
# Frontend (Node/React)

node_modules/

dist/

dist-ssr/

*.local

npm-debug.log*

yarn-debug.log*

yarn-error.log*

pnpm-debug.log*

lerna-debug.log*

package-lock.json

# Backend (Python/Django)

pycache/

*.py[cod]

*$py.class

*.so

.Python

env/

venv/

ENV/

myenv/

.venv/

*.log

*.pot

*.sqlite3

*.sql

*.mysql

media/

staticfiles/

.env

# IDE

.vscode/*

!.vscode/extensions.json

.idea/

*.suo

.ntvs

*.njsproj

*.sln

*.sw?

# OS

.DS_Store

.DS_Store?

._*

.Spotlight-V100

.Trashes

ehthumbs.db

Thumbs.db

# Project specific

**/backend-folder copy/

