.listing-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70rem;  /* Adjusts spacing between h1 & sort by button */
  }
  
  
  .listing-title {
    margin-right: 1rem;
  }
    .listing-title h1 {
        font-size: 20px;
        font-weight: bold;
        color: #2F4F4F; /* Forest green */
    }  
  
  .listing-sort {
    display: flex;
    align-items: center;
  }
  